<div class="row gap-4 justify-content-center">
  <% @chefs.each do |chef| %>
    <div class="card p-0 shadow" style="width: 18rem;">
      <div class="w-100 p-0">
        <%= cl_image_tag(chef.chef_picture.key, class: "w-100 rounded-top")%>
      </div>
      <div class="card-body">
        <div class="d-flex gap-2">
          <h5 class="card-title fw-bold"><%= chef.first_name %></h5>
          <h5 class="card-title"><%= chef.last_name %></h5>
          <%= link_to edit_chef_path(chef) do %>
            <i class="fa-solid fa-pen-to-square text-dark"></i>
          <% end %>
        </div>
        <p class="card-text"><i class="fa-solid fa-location-dot"></i> <%= chef.city %></p>
        <p class="card-text"><i class="fa-solid fa-utensils"></i> <%= chef.category %></p>
        <p class="card-text"><strong>$<%= chef.daily_price %></strong></p>
        <div class="d-flex justify-content-center">
          <a href="#" class="btn btn-outline-primary">Voir le chef</a>
        </div>
      </div>
    </div>
    <% end %>
    <div class="card p-0 shadow" style="width: 18rem;">
      <div class="card-body d-flex align-items-center justify-content-center">
  <%= link_to new_chef_path do %>
    <i class="fa-solid fa-circle-plus" style="font-size:6rem"></i>
  <% end %>
      </div>
    </div>
  </div>
</div>
