<div class="d-flex align-items-center gap-1">
  <%= cl_image_tag(chef.chef_picture.key, class:"rounded-circle border border-dark", style:"width: 40%") %>
  <div class="d-flex flex-column align-items-center">
    <div class="d-flex justify-content-center gap-1">
      <h2 class="fs-6 text fw-bold"><%= chef.first_name %></h2>
      <h2 class="fs-6 text"> <%= chef.last_name %></h2>
    </div>
    <p class="mb-1 fw-bold"><i class="fa-solid fa-location-dot"></i> <%= chef.city.split.last %></p>
    <%= link_to chef_path(chef), class: "btn btn-primary btn-sm" do %>
      Voir le chef
    <% end %>
  </div>
</div>
